##############################################################
#
# Lists the owners of this project
#
##############################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
* @radicalbit/dev-team
/docs/ @radicalbit/marketing-team
