name: Docusaurus Workflow

#on:
#  push:
#    tags:
#      - 'v*.*.*'
#    branches:
#    - "main"
#    paths:
#      - "docs/**"
#      - ".github/workflows/docs-**"
#  pull_request:
#    branches:
#    - "*"
#    paths:
#      - "docs/**"
#      - ".github/workflows/docs-**"

#jobs:
#  build-doc:
#    name: Build Docusaurus
#    runs-on: ubuntu-22.04
#    defaults:
#      run:
#        working-directory: ./docs
#    steps:
#      - uses: actions/checkout@v4
#        with:
#          fetch-depth: 0
#      - uses: actions/setup-node@v4
#        with:
#          node-version: 18
#          cache: yarn
#          cache-dependency-path: docs/yarn.lock
#
#      - name: Install dependencies
#        run: yarn install --frozen-lockfile
#      - name: Build website
#        run: yarn build
#
#      - name: Upload Build Artifact
#        if: github.event_name != 'pull_request'
#        uses: actions/upload-pages-artifact@v3
#        with:
#          path: ./docs/build
#
#  deploy-doc:
#    name: Deploy to GitHub Pages
#    needs: [build-doc]
#    if: github.event_name != 'pull_request'
#    runs-on: ubuntu-22.04
#    defaults:
#      run:
#        working-directory: ./docs
#
#    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
#    permissions:
#      pages: write # to deploy to Pages
#      id-token: write # to verify the deployment originates from an appropriate source
#
#    # Deploy to the github-pages environment
#    environment:
#      name: github-pages
#      url: ${{ steps.deployment.outputs.page_url }}
#
#    steps:
#      - name: Deploy to GitHub Pages
#        id: deployment
#        uses: actions/deploy-pages@v4
